<div class="page-header">
  <%= link_to clientes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_cliente_path(@cliente), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar cliente</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @cliente.nome %></dd>

  <dt>CPF:</dt>
  <dd><%= @cliente.cpf %></dd>

  <dt>Telefone:</dt>
  <dd><%= @cliente.telefone %></dd>

  <dt>Email:</dt>
  <dd><%= @cliente.email %></dd>

  <hr>
  
  <dt>Cep:</dt>
  <dd><%= @cliente.cep %></dd>

  <dt>Endereco:</dt>
  <dd><%= @cliente.endereco %></dd>

  <dt>Numero:</dt>
  <dd><%= @cliente.numero %></dd>

  <dt>Bairro:</dt>
  <dd><%= @cliente.bairro %></dd>

  <dt>Cidade:</dt>
  <dd><%= @cliente.cidade %></dd>

  <dt>Estado:</dt>
  <dd><%= @cliente.estado %></dd>

</dl>
