<div class="page-header">
  <%= link_to administradors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_administrador_path(@administrador), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar administrador</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @administrador.nome %></dd>

  <dt>Email:</dt>
  <dd><%= @administrador.email %></dd>

  <dt>Senha:</dt>
  <dd><%= @administrador.senha %></dd>

</dl>
