<div class="page-header">
  <%= link_to produtos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_produto_path(@produto), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar produto</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @produto.nome %></dd>

  <dt>Descricao:</dt>
  <dd><%= @produto.descricao %></dd>

  <dt>Quantidade:</dt>
  <dd><%= @produto.quantidade %></dd>

  <dt>Tipo produto:</dt>
  <dd><%= @produto.tipo_produto %></dd>

</dl>
