<%= form_with(model: tipo_produto, local: true) do |form| %>
  <% if tipo_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_produto.errors.count, "error") %> prohibited this tipo_produto from being saved:</h2>

      <ul>
      <% tipo_produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
